.fastmovingItems .row, .essentialItems .row, .packing-items .row, .extra-note .row{
    margin-left: 12px;
    margin-top: 12px;
}

input, span{
	height: 30px;
}


input::placeholder{
	font-size: 14px;
}

input:valid{
    border: 1px solid green;
}

input:not(:required) {
    border-color: initial; /* Removes custom styling for valid non-required fields */
}

input:invalid{
	border : 1px solid red;
}
