<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/src/main/resources/static/admin_dashboard_style.css">
    <link rel="stylesheet" href="/src/main/resources/static/style_sheet.css">
    <link rel="stylesheet" href="/src/main/resources/static/inventory_index.css">
    <link rel="stylesheet" href="/style_sheet.css">
    <link rel="stylesheet" href="/admin_dashboard_style.css">
    <link rel="stylesheet" href="/inventory_index.css">
</head>

<body>

    <!-- Sidebar -->
    <nav id="sidebar">
        <button class="close-sidebar-btn close_arrow d-sm-block d-lg-none fw-bold"
            id="close-sidebar-btn">&#9938;</button>
        <h5 class="text-center fw-bold fs-4 me-4">Star Dum Biriyani</h5>
        <hr>
        <ul class="nav flex-column px-2 fw-medium fs-6">
            <li class="nav-item py-0 dashboard-link mb-2">
                <a class="nav-link" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-house-door mb-1" viewBox="0 0 16 16">
                        <path
                            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                    </svg>
                    Dashboard</a>
            </li>
            <hr class="dropdown-divider">
            <li class="nav-item py-0 shop-link">
                <a href="#settings" class="sidebar-link nav-link ps-3 d-flex fs-6 align-items-center m-0"
                    data-bs-toggle="collapse" data-bs-target="#settingsSubmenu" aria-expanded="false">
                    <div class="store_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor"
                            class="bi bi-shop mb-1" viewBox="0 0 16 16">
                            <path
                                d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z" />
                        </svg>
                    </div>
                    Shops
                    <div class="option_arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </div>
                </a>
                <div id="settingsSubmenu" class="collapse sub_shop_link">
                    <a href="#profile" class="submenu-link fs-6 m-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-shop-window mb-1" viewBox="0 0 16 16">
                            <path
                                d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5m2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        KodiPalya</a>
                    <a href="#preferences" class="submenu-link fs-6 m-2">
                        BTM Layout</a>
                </div>
            </li>
            <li class="nav-item py-0 report-link">
                <a class="nav-link text-decoration-none" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor"
                        class="bi bi-clipboard2-data mb-1" viewBox="0 0 16 16">
                        <path
                            d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z" />
                        <path
                            d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z" />
                        <path
                            d="M10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm4-3a1 1 0 0 0-1 1v3a1 1 0 1 0 2 0V9a1 1 0 0 0-1-1" />
                    </svg>
                    Reports</a>
            </li>
            <li class="nav-item py-0 user-link">
                <a class="nav-link" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-people mb-1" viewBox="0 0 16 16">
                        <path
                            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                    </svg>
                    Manage User's</a>
            </li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div id="main-content" class="container-fluid">
        <!-- Top Navbar -->
        <nav id="top-navbar" class="navbar navbar-expand-lg navbar-light
        justify-content-lg-center align-items-center">
            <div class="index_container p-0 align-items-center justify-content-center">
                <button class="btn btn-outline-secondary d-lg-none" id="toggle-sidebar-btn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand ms-auto fs-6" href="#"></a>
            </div>
            <div class="user_container p-0">
                <div class="dropdown">
                    <a class="text-decoration-none text-dark bg-light fw-bold fs-6" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-fill text-dark me-1" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                        Karthick<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down ms-2" viewBox="0 0 16 16">
                            <path
                                d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu user-dropdown">
                        <li><a class="dropdown-item fw-bold text-center p-0" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Content Section -->
        <div class="content mt-1">
            <div class="col-12">
                <h3 class=" fw-bolder dashboard_txt">Dashboard</h3>
            </div>
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#sale_report"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Sales Report</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#stock_report"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">Stock Report</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- Overview Container -->
                    <div class="tab-pane fade show active" id="sale_report" role="tabpanel" aria-labelledby="home-tab">
                        <div class="shop_reports ms-0 ms-lg-2">
                            <h3 class="mt-1 dashboard_sub_title text-uppercase">Shop Reports</h3>
                            <div
                                class="row row-cols-3 flex-wrap gap-4 justify-content-center justify-content-lg-start py-2 px-3">
                               <div class="col-11 col-lg-4 shop_reports_card p-3 mt-1"
                                        th:each="shop_Report :${shopReport}">
                                    <div class="row align-items-center">
                                        <div class="col-4">
                                           <h4 class="m-0 store_name mt-1 mb-1" th:text="${shop_Report.branchName}">
                                               KodiPalya</h4>
                                        </div>
                                        <div class="col-8 d-flex align-items-center justify-content-end">
                                            <span
                                                class="shop_report_sub_title col-6 d-flex align-items-center justify-content-end pe-1">View
                                                More</span>
                                            <a href="#"
                                                class="view_more_arrow rounded-button d-flex justify-content-center align-items-center col-6">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-arrow-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="highlight-text">
                                        <span class="shop_report_inventorySaleDate">Total Sales </span>
                                       <h3 class="m-0 col-3 shop_report_totalSale currency"
                                           th:text="${shop_Report.totalSale}">
                                           17000</h3>
                                        <div class="align-items-center mb-2">
                                           <span class="shop_report_inventorySaleDate">Shop report date on </span><span
                                               class="shop_report_inventorySaleDate text-dark"
                                               th:text="${shop_Report.saleInventoryDate}">11-11-2024</span>
                                        </div>
                                        <div class="row">
                                            <div class="row">
                                                <h5 class="shop_report_title col-7">Total Expense</h5>
                                               <h6 th:text="${shop_Report.autoTotalExpense}"
                                                   class="shop_report_value col-5 currency">500.00
                                               </h6>
                                            </div>
                                            <h6 class="shop_report_title">Chicken Supply</h6>
                                            <div class="row align-items-center">
                                                <h6 class="shop_report_sub_title col-8">Biriyani Chicken</h6>
                                                <div class="col-4 text-end shop_report_value_card p-0">
                                                   <span th:text="${shop_Report.biriyaniChickenKg}"
                                                       class="shop_report_value">50</span>
                                                    <span class="shop_report_value_unit">Kg</span>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <h6 class="shop_report_sub_title col-8">Kabab Chicken</h6>
                                                <div class="col-4 text-end shop_report_value_card p-0">
                                                   <span th:text="${shop_Report.kababChickenKg}"
                                                       class="shop_report_value">4</span>
                                                    <span class="shop_report_value_unit">Kg</span>
                                                </div>
                                            </div>
                                            <h5 class="shop_report_title">Chicken Stock</h5>
                                            <div class="row align-items-center">
                                                <h6 class="shop_report_sub_title col-8"> Biriyani Chicken Stock</h6>
                                                <div class="col-4 text-end shop_report_value_card p-0">
                                                   <span th:text="${shop_Report.biriyaniChickenStock}"
                                                       class="shop_report_value">4</span>
                                                    <span class="shop_report_value_unit">Kg</span>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <h6 class="shop_report_sub_title col-8">Kabab Chicken Stock</h6>
                                                <div class="col-4 text-end shop_report_value_card p-0">
                                                   <span th:text="${shop_Report.kababChickenStock}"
                                                       class="shop_report_value">5</span>
                                                    <span class="shop_report_value_unit">Kg</span>
                                                </div>
                                            </div>
                                            <h5 class="shop_report_title">Biriyani Rice Used</h5>
                                            <div class="row align-items-center">
                                                <h6 class="shop_report_sub_title col-8">Rice Used Qty</h6>
                                                <div class="col-4 text-end shop_report_value_card p-0">
                                                   <span th:text="${shop_Report.rice_used}"
                                                       class="shop_report_value">4</span>
                                                    <span class="shop_report_value_unit">Kg</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-3 card-indicator justify-content-center"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade inventory_page" id="stock_report" role="tabpanel"
                        aria-labelledby="profile-tab">
                        <div class="stock_reports ms-0 ms-lg-2">
                            <h3 class="mt-1 dashboard_sub_title text-uppercase">Stock Reports</h3>
                            <div class="row row-cols-3 justify-content-lg-start justify-content-center mt-1  px-3 py-2 gap-2">
                                <div class="col-11 col-lg-5 stock_report_card p-3" th:each="shop_Report :${shopReport}">
                                    <div class="row align-items-center">
                                        <div class="col-5">
                                            <h4 class="m-0 store_name mt-1 mb-1" th:text="${shop_Report.branchName}">
                                                KodiPalya</h4>
                                        </div>
                                        <div class="col-7 d-flex align-items-center justify-content-end">
                                            <span
                                                class="shop_report_sub_title col-6 d-flex align-items-center justify-content-end pe-1">View
                                                More</span>
                                            <a href="#"
                                                class="view_more_arrow rounded-button d-flex justify-content-center align-items-center col-6">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-arrow-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row row-cols-3 justify-content-start mt-2">
                                        <div class="col-4 align-items-center">
                                            <h6 class="sale_report_sub_title col-12 m-0">Rice Qty</h6>
                                            <div class="col-12 shop_report_value_card">
                                                <span th:text="${shop_Report.rice_used}"
                                                    class="shop_report_value">4</span>
                                                <span class="shop_report_value_unit">Kg</span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="sale_report_sub_title col-12 m-0">Oil Qty</h6>
                                            <div class="col-12 shop_report_value_card p-0">
                                                <span th:text="${shop_Report.rice_used}"
                                                    class="shop_report_value">4</span>
                                                <span class="shop_report_value_unit">Kg</span>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <h6 class="sale_report_sub_title col-12 m-0">Ginger Garlic Qty</h6>
                                            <div class="col-12 shop_report_value_card">
                                                <span th:text="${shop_Report.rice_used}"
                                                    class="shop_report_value">4</span>
                                                <span class="shop_report_value_unit">Kg</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-2 mt-3">
                                        <div class="col-6 p-0">
                                            <span class="stock_report_inventorySaleDate">Stock Last Used </span><br>
                                            <span class="stock_report_inventorySaleDate_value text-dark"
                                                th:text="${shop_Report.saleInventoryDate}">11-11-2024</span>
                                        </div>
                                        <div class="col-6 p-0">
                                            <span class="stock_report_inventorySaleDate">Stock Last Filled </span><br>
                                            <span class="stock_report_inventorySaleDate_value text-dark"
                                                th:text="${shop_Report.saleInventoryDate}">11-11-2024</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loading-spinner" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id="content" style="display:none;">
        <!-- Your page content goes here -->
    </div>

    <!-- Footer -->
    <footer class="bg-light text-dark">
        <p>&copy; 2024 Admin Dashboard. All rights reserved.</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
    <script>
        // Toggle sidebar visibility
        document.getElementById('toggle-sidebar-btn').addEventListener('click', function () {
            var sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active'); // Toggle sidebar
            document.getElementById('main-content').classList.toggle('active'); // Toggle content margin
        });

        // Close sidebar
        document.getElementById('close-sidebar-btn').addEventListener('click', function () {
            var sidebar = document.getElementById('sidebar');
            sidebar.classList.remove('active'); // Hide sidebar
        });

        document.querySelectorAll('.sidebar-link[data-bs-toggle="collapse"]').forEach(link => {
            link.addEventListener('click', function () {
                document.querySelectorAll('.collapse').forEach(collapse => {
                    if (collapse !== document.querySelector(link.getAttribute('data-bs-target'))) {
                        new bootstrap.Collapse(collapse, { toggle: false }).hide();
                    }
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            // Select all elements with the class 'shop_report_totalSale'
            const elements = document.querySelectorAll(".currency");

            // Loop through each element and format its content as Indian currency
            elements.forEach(function (element) {
                // Parse the raw number from the element's text content
                let number = parseFloat(element.textContent);

                // Check if the parsed value is a valid number
                if (!isNaN(number)) {
                    // Format the number and update the element's content
                    element.innerHTML = number.toLocaleString('en-IN', {
                        style: 'currency',
                        currency: 'INR',
                        maximumFractionDigits: 2
                    });
                }
            });
        });

    window.onload = function() {
    document.getElementById('loading-spinner').style.display = 'none';
    document.getElementById('content').style.display = 'block';
    };

    </script>
</body>

</html>