<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Dum Briyani | Choose Correct Inventory</title>
    <link rel="icon" href="/Front_Module/Resources/Star-concept-bulb-lighting-Clipart-PNG.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

    <div class="container text-center mt-5">
        <div class="container text-center mt-5">
            <h1 class="fw-bold fs-1 ">Star Dum Biriyani</h1>
            <div class="col-lg-12 mt-4">
                <a type="button" class="btn btn-outline-primary fw-medium p-2 px-5 fs-5" href="">Login as a Admin</a>
            </div>
            <div class="col-lg-12 mt-3">
                <a type="button" href="/src/main/resources/templates/inventory.html" class="btn btn-outline-secondary fw-medium p-2 px-3 fs-5" th:href="@{/navigateToInventoryManagement}">Login to Inventory Management</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>